@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');




.outerPopupForm{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popUpForm{
  margin: 10px 0;
  height: 420px;
  width: 340px;
  /* color: grey; */
}

.outerPopupForm .popUpForm button{
    padding: 0.8em;
    border-radius: 44px;
    
    border: solid .2px grey;
}


.popUpForm .inputNamesPopup{
  height: 6%;
  width: 98%;
  font-family: "Mona Sans", serif;
  font-optical-sizing: auto;
  font-weight: light;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: grey;
  /* color: black; */

  font-size: 16px;
  
}

.popUpForm .inputNamesPopup::placeholder{
  font-family: "Mona Sans", serif;
  font-optical-sizing: auto;
  font-weight: light;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: grey;

  font-size: 16px;
  padding-left: 5px;
}

.popUpForm select{
  height: 8%;
  width: 100%;
  font-family: "Mona Sans", serif;
  font-optical-sizing: auto;
  font-weight: light;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: grey;
  /* color: black; */

  font-size: 16px;
  padding-left: 5px;

}

.chooseTime{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 0.5em;
    margin-bottom: 10px;
    margin-top: 3px;
}

.chooseTime input[type="radio"] {
    transform: scale(1.5); /* Increase the size */
    margin-right: 5px; /* Optional: Adjust spacing */
  }
.calendarContainer{
  margin-top: 25px;
}
.calendarContainer label{
  font-size: 14px;
  /* width: 10%; */
  margin-right: 14px;
}
.calendarContainer input[type="date"] {
  font-size: 16px; /* Change font size */
  padding: 5px; /* Optional: Adjust padding */
}

.calendarContainer input[type="date"]{
  width: 80%;
  height: 20px;
}

#time_wrapper {
    transform: scale(.9);
    margin: 40px 20px;
  }
  
  #time_input {
    border: 2px solid #acd4ae;
    width: fit-content;
    color: #86c288;
    display: flex;
    align-items: center;

  }
  
  #time_input input {
    width: 60px;
    height: 60px;
    border: none;
    box-sizing: border-box;
    padding: auto 15px;
    text-align: center;
    color: #132c14;
  }

  #time_input label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  #time_input .label {
    font-size: 0.55rem;
    position: absolute;
    top: 4.5px;
  }

  #time_input .label.lbl-hrs {
    left: 20px;
  }

  #time_input .label.lbl-min {
    left: 14px;
  }
  
  #time_input .label.lbl-sec {
    left: 13px;
  }
  
  /* Chrome, Safari, Edge, Opera */
#time_input input::-webkit-outer-spin-button,
#time_input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Chrome */
#time_input input[type="number"]::-webkit-outer-spin-button,
#time_input input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#time_input,
#time_input input {
  border-radius: 8px;
  font-size: 1.5rem;
}

#time_input input:focus {
    outline: 3px solid #2b662e;
  }
  
#time_input input:focus + .label {
    color: #2b662e;
  }
  
.popUpForm button{
  height: 8%;
  width: 36%;
  font-family: "Mona Sans", serif;
  font-optical-sizing: auto;
  font-weight: light;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: grey;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}


.popUpForm button:hover{
  background-color: rgba(219, 190, 190, 0.815);
  color: white;
  border: .2px solid white;
  
}
/* #time_input input.invalid:focus {
    outline: 3px solid red;
  }
  
#time_input input.invalid:focus + .label {
    color: red;
  }
  
#error {
    width: 280px;
    position: relative;
    top: 170px;
    margin: 0 auto;
    color: red;
    visibility: hidden;
  } */