@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.signupPage-outer-container{
    /* border: 2px solid black; */
    display: flex;
    overflow: hidden;
}
.signupPage-image-container{
    /* border: 2px solid red; */
    height: 100vh;
    width: 50vw;
    background-image: url('../assets/signupImage.png');
    background-repeat: none;
    background-size: 100% 100%;
}

.signupPage-back {
    position: absolute;
    /* border: 2px solid black; */
    /* top: 40px;
    left: 40px; */
    top: 18px;
    left: 9px;
}
.signupPage-back .loginLink{
    display: flex;
    align-items: center;
}
.signupPage-back p{
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    color:  #8692A6;
    margin: 0;
    padding: 0;
}
.signupPage-form-container{
    position: relative;
    height: 100vh;
    width: 50vw;
    /* border:2px solid rgb(48, 189, 130);  */
    overflow-y: auto;
    display: flex;
    justify-content: center;

} 
.SignupForm-outer-container-desgin{
    width: 57%;
    height: auto;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* margin-top: 160px; */
    /* margin-top: 90px; */
    margin-top: 56px;
}

.SignupForm-outer-container-desgin form h3{
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36.31px;
    color:#000000;
    margin: 0;
    
}
.SignupForm-outer-container-desgin form label{
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
    letter-spacing: 0%;
    color: #696F79;
    /* margin-bottom: 20px; */
    /* border: 2px solid black; */
}

.SignupForm-outer-container-desgin form p{
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    color:  #8692A6;
    margin: 13px 0;
}


.SignupForm-outer-container-desgin .inputUserDetails{
    width: 97.5%;
    min-width: 96%;
    height: 6vh;
    border-radius: 5px;
    border: 1px solid grey;
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
    letter-spacing: 0%;
    color: #696F79;
    border-radius: 5px;
    margin-top: 5px;
}



.SignupForm-outer-container-desgin button{
    background-color: #2C73EB;
    border: none;
    color: white;
    width: 98%;
    min-width: 98%;
    height: 7vh;
    border-radius: 6px;
    font-family: "Inter", serif;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
    text-align: center;
    letter-spacing: 0%;
    
}

.SignupForm-outer-container-desgin .inputUserDetails:focus{
   /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
   border: .8px #2C73EB solid;
   outline: none;
   border-radius: 5px;
 }

 .emailSignUp-password-div{
    position: relative;
    /* border: 2px solid green; */
    display:flex;
    align-items: center;
 }
 .emailSignUp-password-div .eyePasswordIcon{
    position: absolute;
    font-size: 1.5rem;
    right: 7px;
}
.SignupForm-outer-container-desgin form .form-error{
    color: red;
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 19.36px;
    letter-spacing: 0%;

}

.checkbox-Rememberme-login{
    display: flex;
    align-items: center;
    gap: 0.5em;

}
.formfield-inputDiv{
    /* border: 2px solid black; */

    margin-bottom: 13px ;
    height: auto;
}
.emailGenderDiv input{
    margin-top: 12px;
}

@media (min-width: 320px) and (max-width: 768px)   { 
    
    .signupPage-outer-container{
        width: 100vw;  
        display:block;
        height: auto;
    }
    .signupPage-image-container{
        width: 100%;
        height:600px;
    }
    .signupPage-form-container{
        width: 100vw;
        height: auto;
        overflow-y: hidden;
    }

    .SignupForm-outer-container-desgin{
        /* width: 80%; */
        width: 71%;
        margin-top: 50px;
    }
    .inputUserDetails.emailDob{
        width: 98%;
        min-width: 96%;
    }
    
    .signupPage-back {
        top: 18px;
        left: 9px;
    }
    .SignupForm-outer-container-desgin button{
        min-width: 103%;
    }
}

@media (max-height: 430px) {
    .SignupForm-outer-container-desgin{
        width: 70%;
        height: auto;
    }
    .inputUserDetails.emailDob{
        width: 100%;
        min-width: 98%;
    }
    
}

@media (min-width: 769px) and (max-width: 1000px) 
{
    .signupPage-back {
        top: 18px;
        left: 9px;
    }
}